.shadow{
    z-index: 99999;
    box-shadow: 0px 7px 7px 3px rgba(50, 50, 50, 0.2);
}
.overflow{
    height: auto;
    overflow: auto;
}
.overflow{
    font-family: 'Montserrat',sans-serif
}
.dashboardnames{
    font-weight: 600 !important;
    font-size: 18px;
}
.tickts_div_dashboard{
   
}